AUTH_DRIZZLE_URL=POSTGRES_CONNECTION_URL
BETTER_AUTH_SECRET=SECRET_KEY_AT_LEAST_32_CHARACTERS
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=GITHUB_ID
GITHUB_CLIENT_SECRET=GITHUB_SECRET

GOOGLE_CLIENT_ID=GOOGLE_ID
GOOGLE_CLIENT_SECRET=GOOGLE_SECRET

NEXT_PUBLIC_SITE_URL=http://localhost:3000

R2_ACCESS_KEY=CLOUDFLARE_R2_ACCESS_KEY
R2_SECRET_KEY=CLOUDFLARE_R2_SECRET_KEY
CLOUDFLARE_ACCOUNT_ID=CLOUDFLARE_ACCOUNT_ID
R2_BUCKET_NAME=BUCKET_NAME

NEXT_PUBLIC_IMAGE_URL=BUCKET_PUBLIC_URL

RESEND_API_KEY=RESEND_API_KEY

REDIS_URL=redis://127.0.0.1:6379
